body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    text-align: center;
    background-color: red;
    color: white;
    padding: 20px;
}

nav {
    background-color: lightgray;
    padding: 10px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.side {
    flex: 1;
    background-color: white;
    padding: 15px;
    border: 1px gray;
}








